NEXT_PUBLIC_SUPABASE_URL=https://tjywljphcpagxvffofux.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable__6r5k9ZbeD-JI3GX9Mz3zA_jEogyU23
SUPABASE_SERVICE_ROLE_KEY=sb_secret_GpeYPOzVd422E26FZh0EiQ_7h6Wo5Y5
OPENAI_API_KEY=your_openai_api_key
NEXT_PUBLIC_APP_URL=http://localhost:3000
